openapi: 3.0.1
info:
  contact: {}
  description: Provisioning APIs for activating and managing entitlements, subscriptions, and claim codes
  title: Provisioning APIs
  version: 1.0.1
servers:
  - url: https://api.int.security.cisco.com/provisioning
paths:
  /claim-code/claim:
    post:
      tags:
        - Claim Code
      summary: Claim Code
      description: Read Claim Code
      parameters:
        - name: Authorization
          in: header
          description: Access Token
          required: true
          schema:
            type: string
      requestBody:
        description: Read Claim Code
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/model.ClaimSubscription'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ProductInstance'
      x-codegen-request-body-name: order
  /claim-code/read:
    post:
      tags:
        - Claim Code
      summary: Read Claim Code
      description: Read Claim Code
      parameters:
        - name: Authorization
          in: header
          description: Access Token
          required: true
          schema:
            type: string
      requestBody:
        description: Read Claim Code
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/model.ClaimSubscription'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ProductInstance'
      x-codegen-request-body-name: order
  /msp-claim-code/claim:
    post:
      tags:
        - Claim Code
      summary: Claim Code
      description: Claim MSP Claim Code
      parameters:
        - name: Authorization
          in: header
          description: Access Token
          required: true
          schema:
            type: string
      requestBody:
        description: Claim MSP Claim Code
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/model.MSPClaimSubscription'
        required: true
      responses:
        '200':
          description: OK
          content: {}
      x-codegen-request-body-name: order
  /customers:
    get:
      tags:
        - Customers
      summary: Get Customer's Product Instance By Enterprise Id
      description: Get Customer's Product Instance from phanes database by Enterprise Id
      parameters:
        - name: enterprise_id
          in: query
          description: Enterprise Id
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Access Token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ProductInstance'
  /enterprise/region-hierarchy:
    get:
      tags:
        - Enterprise
      summary: Get enterprise region hierarchy
      description: Get the region hierarchy information for enterprises
      parameters:
        - name: Authorization
          in: header
          description: Access Token
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /enterprise/{enterpriseId}/products:
    get:
      tags:
        - Enterprise
      summary: Get list of Product Instances By Enterprise Id
      description: |-
        API accepts security cloud enterprise ID  and returns:
        1. The enterprise name
        2. The enterprise license state
        3. The list of product instances contained within the enterprise, each including:
        - The product instance ID
        - The product type
        - The product's external tenant ID
        - The region of the product instance
        - Provisioning state e.g., "NEW", "IN_PROGRESS", "FINISHED", "ERROR"
        - Is the product a platform product or not
      parameters:
        - name: enterpriseId
          in: path
          description: enterprise Id(uuid)
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Service Token Bearer Auth
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API returns enterprise name, enterprise license state The list of product instances contained within the enterprise.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.EnterpriseProductInstances'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '401':
          description: Unauthorized - Authentication credentials were missing or incorrect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '403':
          description: Forbidden - The request is understood, but it has been refused or access is not allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /enterprise/{enterpriseId}/platform-subscription:
    post:
      tags:
        - Enterprise
      summary: Create platform subscription for enterprise
      description: Creates a platform subscription for the specified enterprise
      parameters:
        - name: enterpriseId
          in: path
          description: enterprise Id(uuid)
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Service Token Bearer Auth
          required: true
          schema:
            type: string
      requestBody:
        description: Platform subscription details
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '201':
          description: Platform subscription created successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /organizations/{managerId}/entitlements:
    get:
      tags:
        - Entitlements
      summary: Get organization entitlements
      description: Get entitlements for a manager organization
      parameters:
        - name: managerId
          in: path
          description: Manager Organization ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /organizations/{managerId}/managed/{managedId}/entitlements:
    get:
      tags:
        - Entitlements
      summary: Get managed organization entitlements
      description: Get entitlements for a managed organization under a manager
      parameters:
        - name: managerId
          in: path
          description: Manager Organization ID
          required: true
          schema:
            type: string
        - name: managedId
          in: path
          description: Managed Organization ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
        - Entitlements
      summary: Update managed organization entitlements
      description: Update entitlements for a managed organization under a manager
      parameters:
        - name: managerId
          in: path
          description: Manager Organization ID
          required: true
          schema:
            type: string
        - name: managedId
          in: path
          description: Managed Organization ID
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      requestBody:
        description: Entitlement update details
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          description: Entitlements updated successfully
          content:
            application/json:
              schema:
                type: object
  /ping:
    get:
      tags:
        - Health Check
      summary: Get Server Health
      description: Get Server Health by checking if db is active
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Health'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /enterprises/{managerOrgId}/revoke-info:
    put:
      tags:
        - MSP Revoke Info
      summary: Get the revoked managed orgs info for a given manager enterprise and update the status
      parameters:
        - name: managerOrgId
          in: path
          description: Id of the Manager Org whose Managed Orgs are revoked
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.RevokeManagedOrgs'
        '400':
          description: Bad Request - Error in parsing request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
  /productInstance/{instanceId}/provision:
    post:
      tags:
        - Product Instance
      summary: Provision a product instance
      description: Provisions a product instance with the given ID
      parameters:
        - name: instanceId
          in: path
          description: ID of the product instance to provision
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      requestBody:
        description: Provisioning request details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.ProductInstanceProvisionRequest'
        required: true
      responses:
        '200':
          description: OK - Provisioning completed successfully
          content: {}
        '202':
          description: Accepted - Provisioning is in progress
          content: {}
        '400':
          description: Bad Request - Invalid instance ID or request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '401':
          description: Unauthorized - User is not an admin of the associated enterprise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '403':
          description: Forbidden - Product is not provisionable via API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '422':
          description: Unprocessable Entity - Error during provisioning
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '500':
          description: Internal Server Error - Unexpected error during provisioning
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /productInstance/{instanceId}/applyLicenses:
    post:
      tags:
        - Product Instance
      summary: Apply licenses to a product instance
      description: Applies licenses from a source product instance to a target product instance
      parameters:
        - name: instanceId
          in: path
          description: ID of the product instance to which licenses are being applied
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      requestBody:
        description: Details of the source instance ID from which to apply licenses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/model.ProductInstanceApplyLicensesRequest'
        required: true
      responses:
        '200':
          description: OK - Licenses applied successfully
          content: {}
        '400':
          description: Bad Request - Invalid instance ID or mismatch in customer or product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '401':
          description: Unauthorized - User is not an admin of the associated enterprise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '412':
          description: Precondition Required - Customer for product instance and source product instance do not match
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '500':
          description: Internal Server Error - Error applying licenses to the product instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
      x-codegen-request-body-name: body
  /productInstance/{instanceId}/reset:
    put:
      tags:
        - Product Instance
      summary: Reset the external ID and other values of a product instance
      description: Resets the external ID and other values of a product instance for common provisioning
      parameters:
        - name: instanceId
          in: path
          description: ID of the product instance to reset
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: Enterprise Admin Bearer Auth
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.ProductInstance'
        '400':
          description: Bad Request - Invalid request payload or empty external IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        '401':
          description: Unauthorized - Invalid scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
        default:
          description: Unexpected error when resetting product instance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Error'
components:
  schemas:
    model.ClaimSubscription:
      type: object
      properties:
        claim_code:
          type: string
        enterprise_id:
          type: string
        enterprise_name:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/model.ClaimCodeProduct'
        services:
          type: array
          items:
            $ref: '#/components/schemas/model.ClaimCodeServices'
    model.MSPClaimSubscription:
      type: object
      properties:
        claim_code:
          type: string
        enterprise_id:
          type: string
        enterprise_name:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/model.ClaimCodeProduct'
    model.ClaimCodeProduct:
      required:
        - id
        - region
      type: object
      properties:
        id:
          type: string
        is_use_existing_tenant_set:
          type: boolean
        name:
          type: string
        region:
          $ref: '#/components/schemas/model.Region'
    model.ClaimCodeServices:
      required:
        - id
      type: object
      properties:
        id:
          type: string
        is_use_existing_tenant_set:
          type: boolean
        name:
          type: string
    model.ProductInstance:
      type: object
      properties:
        id:
          type: string
        external_tenant_id:
          type: string
        provisioning_status:
          type: string
        region:
          $ref: '#/components/schemas/model.Region'
    model.EnterpriseProductInstances:
      type: object
      properties:
        enterpriseName:
          type: string
        isLicensed:
          type: boolean
        productInstancesInfo:
          type: array
          items:
            $ref: '#/components/schemas/model.MergedProductInstancesInfo'
    model.MergedProductInstancesInfo:
      type: object
      properties:
        id:
          type: string
        productName:
          type: string
        productType:
          type: string
        externalTenantId:
          type: string
        region:
          $ref: '#/components/schemas/model.Region'
        provisioningStatus:
          type: string
        isPlatformProduct:
          type: boolean
    model.Health:
      type: object
      properties:
        currentTime:
          type: string
        healthStatus:
          type: string
        serviceName:
          type: string
        serviceStatus:
          type: string
    model.RevokeManagedOrgs:
      type: object
      properties:
        managedOrgs:
          type: array
          items:
            $ref: '#/components/schemas/model.ManagedOrgsList'
    model.ManagedOrgsList:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/model.ManagedOrgProductsList'
    model.ManagedOrgProductsList:
      type: object
      properties:
        name:
          type: string
        quantity:
          type: integer
    model.ProductInstanceProvisionRequest:
      type: object
      properties:
        additional_metadata:
          type: array
          items:
            $ref: '#/components/schemas/model.ProvisioningQuestionAnswer'
        create_new_tenant:
          type: boolean
        initial_admin:
          type: string
        region:
          type: string
    model.ProductInstanceApplyLicensesRequest:
      type: object
      properties:
        sourceInstanceId:
          type: string
    model.ProvisioningQuestionAnswer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        value:
          type: string
    model.Region:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
    model.Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string